body {
    background-color: #404E4D;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 150px;
}

.card {
    background-color: #FDE74C;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    cursor: pointer;

}

.card:active {
    background-color: #9BC53D;
}

h1 {
    background-color: #FDE74C;
    color: black;
    display: inline-flexbox;
    border-radius: 10px;
}